.fearsList {
  margin: 100px 0 100px 90px;
  list-style: none;
}

.fearsList > li {
  display: flex;
  align-items: center;
  gap: 24px;

  margin-top: 16px;

  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
