.fearsList {
  margin: 50px 0 50px 90px;
  list-style: none;
}

.fearsList > li {
  display: flex;
  align-items: center;
  gap: 24px;

  margin-top: 12px;

  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.selected {
  text-decoration: line-through;
  transition: 0.3s;
}
