.game {
  position: relative;
  display: flex;
}

/* .cloud {
  position: absolute;
  top: 50%;
  width: 250px;
  height: 180px;
} */

.icon {
  position: absolute;
  top: 50%;

  width: 150px;
  height: 150px;
  cursor: pointer;
}

.unvisible {
  display: none;
}
