.icon {
  display: block;
  position: absolute;
  top: 30%;
  right: 40%;

  width: 150px;
  height: 150px;
  cursor: pointer;

  animation: 3s show ease;
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.iconMoving {
  animation: iconMoving 5s ease-in-out 1s infinite alternate;
  transform-origin: 50% 300%;
}

@keyframes iconMoving {
  25% {
    transform: rotate(-2deg);
  }
  75% {
    transform: rotate(2deg);
  }
}
