.container {
  display: flex;
  max-width: var(--max-width);
  height: 85vh;
  margin: auto;

  color: var(--white);
  background-color: var(--bg);
}

.gameContent {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  justify-content: stretch;
  gap: 10px;
}

.containerOver {
  display: flex;
  max-width: var(--max-width);
  height: 85vh;
  margin: auto;

  color: var(--white);
  background-color: var(--yellow);
}

.gameOverContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gameOverContent img {
  max-width: 60%;
  height: 100%;
}

.result {
  max-width: 40%;
  margin-right: 200px;
  text-align: right;
}

.result p {
  font-family: var(--font-primary);
  font-size: 62px;
  font-weight: 700;
  color: var(--dark);
}
