.container {
  display: flex;
  max-width: var(--max-width);
  height: 100vh;
  margin: auto;

  color: var(--white);
}

.gameContent {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  justify-content: stretch;
  gap: 10px;
}

.gameOverContent {
  margin: auto;
  font-size: 50px;
}
