body {
  background-color: var(--bg);
  font-family: var(--font-primary);
  margin: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p,
input {
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  border-style: none;
}
