.startBtn {
  width: 420px;
  height: 105px;

  margin-bottom: 40px;
  padding: 24px 60px;

  font-family: var(--font-primary);
  font-weight: 700;
  font-size: 45px;

  background-color: var(--yellow);
  border-radius: 90px;
  border: none;
  cursor: pointer;
}

.startBtn:hover {
  opacity: 0.5;
  transition: 0.3s;
}
