.container {
  display: flex;
  max-width: var(--max-width);
  height: 1000px;
  margin: auto;

  color: var(--white);
  background-color: var(--bg);
}

.homeContent {
  max-width: var(--container-width);
  margin: auto;
  padding: 2rem 1rem;
  text-align: center;
}
