.header {
  padding: 50px;
  background-color: var(--bg);
}

.headerTitle {
  text-align: center;

  font-size: 72px;
  font-family: var(--font-secondary);
  line-height: 58.54px;
  color: var(--white);
}

.headerOver {
  padding: 50px;
  background-color: var(--yellow);
}
